nav {
    display: flex;
    flex-direction: row;
    margin: 30px 80px 10px 80px;
    justify-content: flex-end;
}

li {
    list-style: none;
    font-family: 'Roboto', sans-serif;;
    font-size: 100%;    
}

.insideLogo {
    font-family: 'Shrikhand', cursive;
    font-size: 250%;
    text-align: center;
    margin: 40px 20px 0px 0px;
}

h3 {
    list-style: none;
    font-family: 'Roboto', sans-serif;;
    font-size: 100%; 
    text-align: center; 
    margin: 10px 20px 10px 0px;
}

.main-container {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-template-areas: 'playerOne game-board playerTwo';
    justify-content: center;
    align-items: center;
    text-align: center;
}

.playerOne-container {
    grid-template-areas: 'playerOne';
}

.playerOneName {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 80%; 
    margin: 10px 5px 18px 250px;
}

.playerOneScore {
    width: 110px;
    height: 140px;
    background-color: #34495e;
    font-family: 'Roboto Black', sans-serif;
    color: white;
    font-size: 5em;
    text-align: center;
    justify-content: center;
    margin-left: auto;
}

.game-board {
    width: 400px;
    height: 420px;
    margin: 0 auto;
    background-color: #34495e;
    border: 6px solid white;
    border-radius: 8px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
  
.box {
    border: 5px solid white;
    border-radius: 2px;
    font-family: 'Baloo Bhai', cursive;
    font-weight: black;
    color: #fff;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: #576b80;
}

.playerTwo-container {
    grid-template-areas: 'playerTwo';
}

.playerTwoName {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 80%; 
    margin: 10px 250px 18px 5px;
}

.playerTwoScore {
    width: 110px;
    height: 140px;
    background-color: #34495e;
    font-family: 'Roboto Black', sans-serif;
    color: white;
    font-size: 5em;
    text-align: center;
    margin-right: auto;
}

footer {
    font-family: 'Roboto', sans-serif;;
    font-size: 60%; 
    text-align: center;
    padding: 50px;
}

